body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px slateblue solid;
  background-color: gainsboro;
  box-sizing: border-box;
}

.counter {
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
}
